@import "../../../../styles/variables.scss";

.ship-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgray;
  position: absolute;
  top: calc(0.25vw - 1px);
  left: calc(0.25vw - 1px);
  z-index: 2;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 250ms;
  transform-origin: 1.75vw 1.75vw;
  transform: rotate(-90deg);
  width: $cell-size - 0.5vw;
  color: rgb(100, 0, 0);

  &--rotated {
    @extend.ship-container;
    transform: rotate(0deg);
  }

  .ship-hitmarker {
    position: absolute;
    height: $cell-size / 3;
    width: $cell-size / 3;
    border: 2px solid black;
    border-radius: $cell-size/6;
  }
}
