@import "../../../styles/variables.scss";

.placement-board {
  height: calc($cell-size * 11);
  width: calc($cell-size * 11);
  background-color: darkgray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

  .board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .board-cell {
      height: $cell-size;
      width: $cell-size;
      background-color: grey;
      border: 1px solid darkgray;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;

      .board-cell-hitmarker {
        // position: absolute;
        height: 2vh;
        width: 2vh;
        border: 2px solid black;
        background-color: grey;
        border-radius: 1vh;
        z-index: 3;
      }
    }
  }
}
