@import "../../../styles/variables.scss";

.placement-board {
  height: calc($cell-size * 11);
  width: calc($cell-size * 11);
  // background-color: darkgray;

  border: 10px solid black;
  border-radius: 20px;
  padding: 10px;
  background-image: url("https://www.stockvault.net/data/2020/06/30/277255/preview16.jpg");
  background-size: contain;

  .board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .board-cell {
      height: $cell-size;
      width: $cell-size;
      box-shadow: 0px 0px 10px black inset;
      border: 1px solid rgba(169, 169, 169, 0.1);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;

      .board-cell-hitmarker {
        height: $cell-size / 3;
        width: $cell-size / 3;
        border: 2px solid black;
        background-color: grey;
        border-radius: $cell-size / 6;
        z-index: 3;
      }
    }
  }
}
