$cell-size: 4vw;
$warning-color: rgb(255, 155, 0);
$accept-color: rgb(0, 175, 0);
$cancel-color: red;
$info-color: rgb(0, 200, 200);

@mixin panel-container {
  position: absolute;
  height: 100%;
  width: 100%;
  @include col-flex;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  background-image: url("https://www.stockvault.net/data/2020/06/30/277255/preview16.jpg");
  background-size: contain;
  overflow: hidden;
}

@mixin col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
