@import "../../styles/variables.scss";

@keyframes rotate {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 200px darkgreen inset;
    color: green;
  }
  to {
    box-shadow: 0px 0px 20px rgb(0, 26, 0) inset;
    color: rgb(0, 26, 0);
    transform: rotate(359deg);
  }
}

.panel {
  @include panel;
  &--A {
    @extend .panel;
    border-radius: 10px 0px 0px 10px;
  }

  &--B {
    @extend .panel;
    border-radius: 0px 10px 10px 0px;

    .loading-container {
      @include col-flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: black;

      .loading-status {
        @include col-flex;
        background-color: black;
        border-radius: 6vw;

        color: green;
        font-size: 3vw;
      }

      .radar-container {
        border-radius: 6vw;
        background-color: black;
        @include col-flex;
        justify-content: center;
        margin-bottom: 1vw;
        .radar {
          animation: rotate 3s linear infinite;
          color: green;
          height: 30vw;
          width: 30vw;
          border-radius: 15vw;
          border: 2vw solid rgb(75, 75, 75);
        }
      }
    }

    .select-container {
      @include col-flex;
      height: 100%;
      width: 100%;

      .select-header {
        font-size: 2vw;
        margin: 0;
      }

      .select-btn-container {
        @include col-flex;
        flex-direction: row;

        width: 100%;

        .select-btn {
          @include button-style;
        }
      }
    }
  }
}
