@import "../../styles/variables.scss";

@keyframes rotate {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 200px darkgreen inset;
    color: green;
  }
  to {
    box-shadow: 0px 0px 20px rgb(0, 26, 0) inset;
    color: rgb(0, 26, 0);
    transform: rotate(359deg);
  }
}

.panel {
  width: 48%;
  height: 96%;
  background-image: url("https://www.stockvault.net/data/2020/06/30/277255/preview16.jpg");
  background-size: cover;
  border: 0.25vw solid black;
  border-radius: 0.5vw;
  box-shadow: 0px 0px 20px black inset;
}

.user-status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: black;
  border-bottom: 0.5vw solid black;

  .radar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .radar {
      animation: rotate 3s linear infinite;
      color: green;
      width: 15vw;
      height: 15vw;
      border-radius: 7.5vw;
    }
  }
}
