@import "../styles/variables.scss";

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1614923756087-ca9f44b6ec55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;

  .game-divider {
    height: $cell-size * 11;
    width: 6vw;
    @include col-flex;
    backdrop-filter: blur(20px);
    border-top: 10px solid black;
    border-bottom: 10px solid black;

    .nav-icon {
      height: 4vw;
      width: 4vw;
      color: lightgray;

      transition-duration: 125ms;

      &--enabled {
        @extend .nav-icon;
        color: white;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
