@import "../styles/variables.scss";

.main-container {
  height: 40vw;
  width: 95vw;
  border: 1vw solid #000000;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .game-container {
    height: 100%;
    width: 80vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
  }

  .waiting-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .sidebar {
    height: 100%;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 1vw solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user-btns {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .user-status {
      font-size: 2vw;

      &--accept {
        @extend .user-status;
        color: $accept-color;
      }

      &--warning {
        @extend .user-status;
        color: $warning-color;
      }

      &--cancel {
        @extend .user-status;
        color: $cancel-color;
      }
    }
  }
}
